* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#header {
    background: url('bg-img.png') no-repeat center center/cover;
    height: 208px;
    padding: 16px 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    color: #fff;
}

#results-container {
    position: relative;
}  

#header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
}

#header h1 {
    position: relative;
    z-index: 1;
    font-size: 48px;
    font-weight: 800;
    color: #fff;
}

.watchlist-link a{
    color: #fff;
    font-weight: 700;
    position: absolute;
    list-style: none;
}

.default-message {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    color: #555;
}

.fa-film {
    color: black;
    font-size: 4rem;
}

.movie-item {
    margin: 1rem .5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: 150px;
}

.movie-poster {
    width: 99px;
    height: 147px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
}

.plot-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.plot-clamp.expanded {
    -webkit-line-clamp: unset;
    overflow: visible;
}